.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.soloStart {
  position: relative;
  height: 740px;
  background-image: url(./assets/thinking.png);
  background-size: cover;

}

.soloWords {
  display: flex;
  font-size: xx-large;
  /* position: relative;
  left: 31%; */
  justify-content: center;
}

#SoloPlayBtn {
  position: relative;
  left: 35%;
  top: 40%;
  font-size: xx-large;
  text-decoration: underline;
  font-family: cursive, fantasy;
}

.multiStart {
  position: relative;
  height: 740px;
  background-image: url(./assets/groupcriticalthinking.png);
  background-size: cover;



}

.Friends {
  display: flex;
  font-size: xx-large;
  /* position: relative;
  left: 31%; */
  justify-content: center;
}
/* 
#CreateGameBtn {
  position: relative;
  left: 55%;
  top: 300px;
  font-size: xx-large;
  text-decoration: underline;
  font-family: cursive, fantasy;
} */

#JoinGameBtn {
  position: relative;
  left: 30%;
  top: 300px;
  font-size: xx-large;
  text-decoration: underline;
  font-family: cursive, fantasy;
}

.Game {
  position: relative;
  top: 100px;
  height: 200px;



}

.optionOne {
  position: relative;
  left: 11%;
  top: 100%;
  height: 90%;
  width: 70%;
  font-size: xx-large;


}

.optionTwo {
  position: relative;
  left: 9%;
  top: 100%;
  height: 90%;
  width: 70%;
  font-size: xx-large;


}

.progress-bar {
  transition: width 1s linear;
}

.leaveBtn {
  position: relative;
  left: 32%;
  top: 450px;
  height: 100px;
  width: 30%;


}

#leaveGameBtn {
  text-decoration: underline;
  position: relative;
  top: 30px;
}

.votePage {
  position: relative;
  top: 100px;
}

.voteOne {
  width: 40vw;
  /* height: 50%; */
  position: relative;
  left: 110px;
  top: 100px;
  height: 100%;
}

.voteTwo {
  width: 40vw;
  /* height: 500px; */
  position: relative;
  left: 150px;
  top: 100px;
}

#leaveGameBtn {
  text-decoration: underline;
  position: relative;
  top: 30px;
}

.profileQuestions{
  text-align: center;
  width: 80vw;
  position: relative;
  left: 11%;
  height: 40vw;
  bottom: 8vw;
 

}
.profileBackground{
  background-image: url(./assets/red-grunge-style-coming-soon-design_1017-26691.webp);
  background-repeat: no-repeat;
  background-size: cover;
  

}
